.common-container {
  display: grid;
  width: 1170px;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
}
.item {
  position: relative;
  border-radius: 20px;
}
.item button {
  display: none;
}
.item:hover button {
  display: inline-block;
  background: rgba(224, 224, 224, 0.5);
}
.item:hover button:hover {
  background: #e0e0e0;
}
.item .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "like save"
    "name date";
  grid-template-columns: auto auto; /* grid has two columns; content defines width */
  background: linear-gradient(
    0,
    #241f24 0%,
    rgba(91, 91, 91, 0.447552) 34.11%,
    rgba(187, 186, 192, 0.26) 62.5%
  );
}

.like {
  grid-area: like;
}

.save {
  grid-area: save;
}

.name {
  grid-area: name;
}

.date {
  grid-area: date;
}

.cities {
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "pic1 pic2 pic2"
    "pic3 pic3 pic4"
    "pic5 pic6 pic6";
}

.pic6 {
  grid-area: pic6;
}

.pic2 {
  grid-area: pic2;
}

.pic3 {
  grid-area: pic3;
}

.nature {
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "pic7 pic8 pic8"
    "pic9 pic9 pic10"
    "pic9 pic9 pic10"
    "pic11 pic11 pic12";
}

.pic7 {
  grid-area: pic7;
}

.pic8 {
  grid-area: pic8;
}

.pic9 {
  grid-area: pic9;
}

.pic10 {
  grid-area: pic10;
}

.pic11 {
  grid-area: pic11;
}

.pic12 {
  grid-area: pic12;
}
