body {
  font-family: Montserrat, sans-serif;
}
.image-people {
  box-sizing: border-box;
}
.content {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo h1 {
  font-size: 29px;
  font-weight: bold;
  color: #173a56;
}
.logo {
  display: flex;
}
