body {
  font-family: "Open Sans", serif;
  text-align: center;
  font-size: 18px;
  line-height: 24.51px;
}

h1,
h2,
h3 {
  margin-bottom: 50px;
}

#about,
#portfolio {
  background-color: #e5e5e5;
}

#about {
  padding: 100px;
}

.wrapper {
  padding: 100px 0;
  margin: 0 auto;
  width: 970px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #828282;
}

.skills-holder,
.stars-holder {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: black;
  text-align: center;
  padding: 0 16px;
  font-weight: bold;
  color: white;
  border-radius: 22px;
  font-size: 18px;
  line-height: 44px;
  width: 180px;
  gap: 50px;
  height: 40px;
}

.header {
  text-align: left;
}

.secondTitle {
  text-align: center;
}

.icons {
  flex-direction: row;
  padding: 0;
  width: 310px;
  height: 40px;
}

.navigation {
  color: grey;
  text-indent: 40px;
  height: 27.5px;
  text-decoration: none;
}

.social-contacts {
  font-size: 14px;
  color: grey;
}
